/Latihan 1-Perintah Memasukan Value Ke Layar/build/
/Latihan 1-Perintah Memasukan Value Ke Layar/nbproject/private/
/Latihan10-Logika/build/
/Latihan10-Logika/nbproject/private/
/Latihan11-Formatting/build/
/Latihan11-Formatting/nbproject/private/
/Latihan12-Aritmatika/build/
/Latihan12-Aritmatika/nbproject/private/
/Latihan13-Relational/build/
/Latihan13-Relational/nbproject/private/
/Latihan14-Bit/build/
/Latihan14-Bit/nbproject/private/
/Latihan15-Logika/build/
/Latihan15-Logika/nbproject/private/
/Latihan16-Penugasan/build/
/Latihan16-Penugasan/nbproject/private/
/Latihan2-Deklarasi dan Pengaksesan Variabel/build/
/Latihan2-Deklarasi dan Pengaksesan Variabel/nbproject/private/
/Latihan3-Memasukan Nilai Dari Keyboard/build/
/Latihan3-Memasukan Nilai Dari Keyboard/nbproject/private/
/Latihan4-Kambing/build/
/Latihan4-Kambing/nbproject/private/
/Latihan5-Kambing Global/build/
/Latihan5-Kambing Global/nbproject/private/
/Latihan6-Kambing Static dan Konstanta/build/
/Latihan6-Kambing Static dan Konstanta/nbproject/private/
/Latihan7-Integer/build/
/Latihan7-Integer/nbproject/private/
/Latihan8-Pecahan/build/
/Latihan8-Pecahan/nbproject/private/
/Latihan9-Teks/build/
/Latihan9-Teks/nbproject/private/